/* CSS styling for Contact page */

label {
  width: 250px;
  float: left;
  display: block;
}

button.input {
  overflow: visible;
  border: 2px solid black;
  border-radius: 6px;
}

form {
  border-radius: 10px;
  border: 2px solid #b49951;
}

.photo {
  width: 250px;
  height: auto;
  margin-right: 40px;
  float: left;
  border-radius: 50%;
}