:root {
  --primary-color: #2a322a;
  --secondary-color: #093407;
  --background-color: #dddbc6;
  --purple: #a588c3;
  --light-purple: #c9c0d3;
  --dark-purple: #766093;
  --link-color: #9c4895;
  --link-used-color: #05676e;
  --link-active-color: #489c79;
  --standard-font-weight: 700;
  --muddy-yellow: #b49951;
}

/*------------GRID----------------*/

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 50px 50px;

}

.grid-item {
  background-color: var(--light-purple);
  width: auto;
  min-height: auto;
  margin: 0;
  border-radius: 16px;
  padding: 2px 20px 20px 20px;
  border: 1px solid #b49951;
  display: inline-block;
}

.grid-item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

/*---------------GRID end---------------*/

/* Media query for work Gallery page*/
@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#return-anchor {
  text-align: center;
}

.bolded {
  font-weight: bold;
}

.screenshot img {
  width: 400px;
  margin: 14px 0px 0px 0px;
  outline-style: dotted;
  outline-color: var(--purple);
  outline-width: 4px;
}